/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.selected {
  color: #FF6464;
}

body {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
}

.wrapper {
  min-width: 1152px;
  background-color: #fff;
}

.container {
  max-width: 860px;
  margin: 0 auto;
}
.header {
  max-width: 1010px;
  margin: 0px auto;
  padding: 40px 0px;
}

.nav_list {
  display: flex;
  align-items: center;
  justify-content: end;
}

.nav_list a {
  line-height: 29px;
  color: #000000;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
}

.nav_list li {
  margin-right: 40px;
}

.nav_list li:last-child {
  margin-right: 0px;
}

.resume {
  padding: 130px 0px 70px 0px;
}

.resume__body {
  display: flex;
}

.resume__info {
  flex: 1 1 50%;
  margin-right: 55px;
}

.resume__imgage {
  margin-left: 55px;
}

.info__title {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  color: #21243d;
}

.info__text {
  margin-top: 55px;
}

.btn {
  margin-top: 35px;
  padding: 15px 22px 15px 22px;
  background: #ff6464;
  border-radius: 2px;
  border: none;
}

.btn a {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
}

/* post */
.line {
  border: 1px solid #e0e0e0;
}

.post {
  background-color: #edf7fa;
  min-height: 100%;
}
.post__link {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link__post a {
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
  color: #21243d;
}
.link__view a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #00a8cc;
}
/* ------------------- */

.post__wrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.post__block {
  background-color: #fff;
  width: 420px;
  padding: 20px;
}
.post__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  color: #21243d;
  margin-bottom: 17px;
}
.post__info {
  margin-bottom: 11px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #21243d;
}
/* ------featured-works---------- */

.featured-works__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
  color: #21243d;
  padding-top: 15px;
}

.featured-works__block {
  display: flex;
  align-items: center;
  margin: 30px 0px 15px 0px;
}
.featured-works__item {
  width: 594px;
  margin-left: 40px;
}
.item__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  color: #21243d;
  margin-bottom: 20px;
}
.item__info {
  display: flex;
  margin-bottom: 22px;
  align-items: center;
}
.info__date {
  font-weight: 900;
  font-size: 18px;
  padding: 3px 13px;
  color: #ffffff;
  background: #142850;
  border-radius: 16px;
}
.info__name {
  margin-left: 26px;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #8695a4;
}

/* =========footer=========== */

.footer__social {
  display: flex;
  padding-top: 135px;
  justify-content: center;
}

.footer__social a {
  margin-right: 30px;
}
.footer__social a:last-child {
  margin-right: 0px;
}

.right {
  text-align: center;
  margin: 30px 0px 60px 0px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #21243d;
}

/* blog */
  h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
  }
  .blog {
    margin-top: 133px;
  }

  .blog__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
    padding-top: 55px;
  }

  .blog__info {
    padding-top: 16px;

  }

  .blog__text {
    padding: 16px 0px 29px 0px;
    width: 682px;
  }

  .blog__line {
    border: 1px solid #e0e0e0;
    width: 681px;
  }